<HTML>
<HEAD>
<TITLE>Site Title</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<STYLE TYPE="TEXT/CSS">
<!--

A { text-decoration: none }


A {color:#ffffff; font-family: Helvetica, Arial; font-size: 12px; text-decoration: none;}
A:hover {color:#99ff00; font-family: Helvetica, Arial; font-size: 12px; text-decoration: none;}

td {font-family: Helvetica, Arial; font-size: 11px;}
.linkcell { padding-left: 10px; font-family: Helvetica, Arial; font-size: 10px;}
hr {  color: #000000}

//.unnamed1 {  font-family: Arial, Helvetica, sans-serif; font-size: small}
-->


</STYLE>
<script language="JavaScript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<script language="JavaScript">
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
// -->
</script>
</HEAD>
<BODY BGCOLOR=#FFFFFF background="images/home_background.gif" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="MM_preloadImages('images/but_enter_r.gif')">
<TABLE WIDTH=740 BORDER=0 CELLPADDING=0 CELLSPACING=0>
  <TR> 
    <TD> <IMG SRC="images/image1a.jpg" WIDTH=256 HEIGHT=153></TD>
    <TD COLSPAN=2> <font face="Arial, Helvetica, sans-serif" size="6" color="#FFFFFF">Your 
      Web Site Title</font></TD>
    <TD> <IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=153></TD>
  </TR>
  <TR> 
    <TD ROWSPAN=2> <IMG SRC="images/image1b.jpg" WIDTH=256 HEIGHT=145></TD>
    <TD> <IMG SRC="images/center_hold.gif" WIDTH=340 HEIGHT=25></TD>
    <TD> <a href="content.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image1','','images/but_enter_r.gif',1)"><IMG SRC="images/but_enter.gif" WIDTH=144 HEIGHT=25 border="0" name="Image1"></a></TD>
    <TD> <IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=25></TD>
  </TR>
  <TR> 
    <TD COLSPAN=2 ROWSPAN=2 valign="top"> 
      <p><font color="#FFFFFF" size="3"><font face="Arial, Helvetica, sans-serif" size="2"><b><font color="#000000">News 
        &amp; Tournament Schedule</font></b></font></font></p>
      <table width="100%" border="0" cellspacing="4" cellpadding="5">
        <tr valign="top"> 
          <td width="2%"><img src="images/golf_ball.jpg" width="20" height="20"></td>
          <td width="98%"><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">Your 
            team news, tournament or game schedule can go here. Your team news, 
            tournament or game schedule can go here. Your team news, tournament 
            or game schedule can go here. </font> </td>
        </tr>
        <tr valign="top"> 
          <td width="2%"><img src="images/golf_ball.jpg" width="20" height="20"></td>
          <td width="98%"><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">Your 
            team news, tournament or game schedule can go here. Your team news, 
            tournament or game schedule can go here. </font></td>
        </tr>
        <tr valign="top"> 
          <td width="2%"><img src="images/golf_ball.jpg" width="20" height="20"></td>
          <td width="98%"><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">Your 
            team news, tournament or game schedule can go here. </font></td>
        </tr>
        <tr valign="top"> 
          <td width="2%"><img src="images/golf_ball.jpg" width="20" height="20"></td>
          <td width="98%"><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">Your 
            team news, tournament or game schedule can go here. Your team news, 
            tournament or game schedule can go here. Your team news, tournament 
            or game schedule can go here. </font></td>
        </tr>
      </table>
    </TD>
    <TD> <IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=120></TD>
  </TR>
  <TR> 
    <TD valign="top" height="193">&nbsp; </TD>
    <TD height="193"> <IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=242></TD>
  </TR>
  <TR> 
    <TD valign="top" height="5" colspan="3">
      <div align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">| 
        <a href="index.html">Home</a> | News | Coach's Portfile | Team Members 
        | Game Schedule | Awards | Contact Us |</font></div>
    </TD>
    <TD height="5">&nbsp;</TD>
  </TR>
</TABLE>
</BODY>
</HTML>