<HTML>
<HEAD>
<TITLE>Site Title</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<script language="JavaScript">
<!--
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
// -->

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
</HEAD>
<BODY BGCOLOR=#FFFFFF background="images/content_background.gif" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" text="#000000" link="#CCCCCC" vlink="#999999" alink="#999999" onLoad="MM_preloadImages('images/but_home_r.jpg','images/but_news_r.jpg','images/but_contact_r.jpg')">
<table width=675 border=0 cellpadding=0 cellspacing=0>
  <tr> 
    <td colspan=3 valign="top"> 
      <table width="96%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td width="52%"><img src="images/content_image.jpg" width=565 height=51></td>
          <td width="48%"> 
            <div align="left"><a href="index.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image1','','images/but_home_r.jpg',1)"><img src="images/but_home.jpg" width=52 height=51 border="0" name="Image1"></a><a href="javascript:;" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image2','','images/but_news_r.jpg',1)"><img src="images/but_news.jpg" width=58 height=51 border="0" name="Image2"></a><a href="javascript:;" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image3','','images/but_contact_r.jpg',1)"><img src="images/but_contact.jpg" width=65 height=51 border="0" name="Image3"></a></div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td width="9%" valign="top" height="19"> <img src="images/bar_hold.gif" width=93 height=31></td>
    <td colspan=2 height="19"> 
      <div align="left"><font color="#FFFFFF" size="2">&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif"> 
        | Coach's Profile | Members | Game Schedule | Awards | </font></font></div>
    </td>
  </tr>
  <tr> 
    <td height="159" valign="top" width="9%"> <img src="images/side1.jpg" width=93 height=53><br>
      <img src="images/side2.jpg" width=93 height=119> </td>
    <td colspan="2" valign="top" height="159">
      <table width="700" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td valign="top"><img src="images/content_image2.jpg" width=472 height=53></td>
        </tr>
        <tr> 
          <td> 
            <p><font size="2" face="Arial, Helvetica, sans-serif">This is where 
              you type your content. This is where you type your content. This 
              is where you type your content. This is where you type your content. 
              This is where you type your content. This is where you type your 
              content. </font></p>
            <p><font size="2" face="Arial, Helvetica, sans-serif">This is where 
              you type your content. </font><font size="2" face="Arial, Helvetica, sans-serif">This 
              is where you type your content. </font><font size="2" face="Arial, Helvetica, sans-serif">This 
              is where you type your content. </font><font size="2" face="Arial, Helvetica, sans-serif">This 
              is where you type your content. </font><font size="2" face="Arial, Helvetica, sans-serif">This 
              is where you type your content. </font><font size="2" face="Arial, Helvetica, sans-serif">This 
              is where you type your content. </font><font size="2" face="Arial, Helvetica, sans-serif">This 
              is where you type your content. </font><font size="2" face="Arial, Helvetica, sans-serif">This 
              is where you type your content. </font><font size="2" face="Arial, Helvetica, sans-serif">This 
              is where you type your content. </font><font size="2" face="Arial, Helvetica, sans-serif">This 
              is where you type your content. </font></p>
            <p><font size="2" face="Arial, Helvetica, sans-serif">This is where 
              you type your content. </font><font size="2" face="Arial, Helvetica, sans-serif">This 
              is where you type your content. </font></p>
            <p><font size="2" face="Arial, Helvetica, sans-serif">This is where 
              you type your content. </font><font size="2" face="Arial, Helvetica, sans-serif">This 
              is where you type your content. </font><font size="2" face="Arial, Helvetica, sans-serif">This 
              is where you type your content. </font><font size="2" face="Arial, Helvetica, sans-serif">This 
              is where you type your content. </font><font size="2" face="Arial, Helvetica, sans-serif">This 
              is where you type your content. </font><font size="2" face="Arial, Helvetica, sans-serif">This 
              is where you type your content. </font></p>
            <p><font size="2" face="Arial, Helvetica, sans-serif">This is where 
              you type your content. </font><font size="2" face="Arial, Helvetica, sans-serif">This 
              is where you type your content. </font><font size="2" face="Arial, Helvetica, sans-serif">This 
              is where you type your content. </font><font size="2" face="Arial, Helvetica, sans-serif">This 
              is where you type your content. </font><font size="2" face="Arial, Helvetica, sans-serif">This 
              is where you type your content. </font><font size="2" face="Arial, Helvetica, sans-serif">This 
              is where you type your content. </font><font size="2" face="Arial, Helvetica, sans-serif">This 
              is where you type your content. </font><font size="2" face="Arial, Helvetica, sans-serif">This 
              is where you type your content. </font><font size="2" face="Arial, Helvetica, sans-serif">This 
              is where you type your content. </font><font size="2" face="Arial, Helvetica, sans-serif">This 
              is where you type your content. </font></p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td height="15" valign="top" colspan="3"> 
      <div align="center"> 
        <p>&nbsp;</p>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1">| <a href="index.html">Home</a> 
          | Coach's Profile | Members | Game Schedule | Awards | Contact |</font></p>
      </div>
    </td>
  </tr>
</table>
<div id="Layer1" style="position:absolute; left:137px; top:8px; width:447px; height:46px; z-index:1"> 
  <div align="center"><font face="Arial, Helvetica, sans-serif" size="5"><b><font size="6">Your 
    Company Name</font></b></font></div>
</div>
<div id="Layer2" style="position:absolute; left:247px; top:102px; width:461px; height:44px; z-index:2"> 
  <div align="right"><font face="Arial, Helvetica, sans-serif" size="3"><font size="4" color="#003366">Sub 
    Heading Goes Here</font></font></div>
</div>
</BODY>
</HTML>