<HTML>
<HEAD>
<TITLE>Site Title</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<style type="text/css">
<!--
@import url("text.css");
@import url("css_link.css");
-->
</style>
</HEAD>
<BODY BGCOLOR=#000000 LEFTMARGIN=0 TOPMARGIN=0 MARGINWIDTH=0 MARGINHEIGHT=0>
<TABLE WIDTH=740 BORDER=0 CELLPADDING=0 CELLSPACING=0 align="center">
  <TR> 
    <TD COLSPAN=2 valign="top"> 
      <table width="360" border="0" cellspacing="0" cellpadding="0" height="138">
        <tr> 
          <td background="images/content_logo_area.jpg">&nbsp;&nbsp;<a href="index.html"><img src="images/logo.gif" width="226" height="57" border="0"></a></td>
        </tr>
      </table>
    </TD>
    <TD COLSPAN=2 valign="top"> <IMG SRC="images/contact_image.jpg" WIDTH=380 HEIGHT=138 ALT=""></TD>
  </TR>
  <TR> 
    <TD valign="top"> 
      <table width="150" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td height="1" valign="top"><img src="images/spacer.gif" width="150" height="1"></td>
        </tr>
        <tr> 
          <td height="30"><img src="images/cross.gif" width="9" height="9" align="absmiddle"><a href="content1.html"> 
            About Us</a></td>
        </tr>
        <tr> 
          <td height="30"><img src="images/cross.gif" width="9" height="9" align="absmiddle"> 
            <a href="content2.html">Services </a></td>
        </tr>
        <tr> 
          <td height="30"><img src="images/cross.gif" width="9" height="9" align="absmiddle"><a href="content3.html"> 
            Clients/Portfolio </a></td>
        </tr>
        <tr> 
          <td height="30"><img src="images/cross.gif" width="9" height="9" align="absmiddle"><a href="#"> 
            More Link</a></td>
        </tr>
        <tr> 
          <td height="30"><img src="images/cross.gif" width="9" height="9" align="absmiddle"><a href="#"> 
            More Link</a></td>
        </tr>
        <tr> 
          <td height="30"><img src="images/cross.gif" width="9" height="9" align="absmiddle"> 
            <a href="#">More Link</a></td>
        </tr>
        <tr> 
          <td height="30"><img src="images/cross.gif" width="9" height="9" align="absmiddle"><a href="contact.html"> 
            Contact Us</a></td>
        </tr>
      </table>
    </TD>
    <TD COLSPAN=2 valign="top"> 
      <table width="100%" border="0" cellspacing="2" cellpadding="2">
        <tr> 
          <td valign="top"><p class="topHeading">Sub Heading Goes Here</p>
            <p class="white11p">This is where you type content text for this page. 
              This is where you type content text for this page. This is where 
              you type content text for this page. This is where you type content 
              text for this page. This is where you type content text for this 
              page. </p>
            <table width="100%" border="0" cellspacing="2" cellpadding="2">
              <tr> 
                <td width="146" valign="top"> <div align="right" class="smbold"> 
                    <p class="white11p"><b>Name:</b></p>
                  </div></td>
                <td width="290"> <input type="text" name="Name"> </td>
              </tr>
              <tr> 
                <td width="146" valign="top"> <div align="right" class="smbold"> 
                    <p class="white11p"><b>Your email:</b></p>
                  </div></td>
                <td width="290"> <input type="text" name="email"> </td>
              </tr>
              <tr> 
                <td width="146" valign="top"> <div align="right" class="smbold"> 
                    <p class="white11p"><b>Company:</b></p>
                  </div></td>
                <td width="290"> <input type="text" name="company"> </td>
              </tr>
              <tr> 
                <td width="146" valign="top"> <div align="right" class="smbold"> 
                    <p class="white11p"><b>Phone Number:</b></p>
                  </div></td>
                <td width="290"> <input type="text" name="phone"> </td>
              </tr>
              <tr> 
                <td width="146" valign="top"> <div align="right" class="smbold"> 
                    <p class="white11p"><b>Subject:</b></p>
                  </div></td>
                <td width="290"> <input type="text" name="subject" size="35"> 
                </td>
              </tr>
              <tr> 
                <td width="146" valign="top"> <div align="right" class="smbold"> 
                    <p class="white11p"><b>Message:</b></p>
                  </div></td>
                <td width="290"> <textarea name="message" cols="35" rows="3"></textarea></td>
              </tr>
              <tr> 
                <td width="146" height="28" valign="top" class="white11p">&nbsp;</td>
                <td width="290" valign="top"> <table width="150" border="0" cellspacing="0" cellpadding="0" align="right">
                    <tr> 
                      <td> <div align="center"> 
                          <input name="submit" type="submit" id="submit" value="Submit">
                        </div></td>
                      <td> <div align="center"></div></td>
                    </tr>
                  </table></td>
              </tr>
            </table>
            <p class="white11p">&nbsp;</p>
            </td>
        </tr>
      </table>
    </TD>
    <TD valign="top"> <IMG SRC="images/contact_square.jpg" WIDTH=164 HEIGHT=58 ALT=""> 
      <table width="100%" border="0" cellspacing="2" cellpadding="2">
        <tr>
          <td valign="top" bgcolor="#000000"> 
            <p class="date">01.01.2003<br>
              <span class="smWhite">News or Announcement. This is where you type 
              news or announcement.News or Announcement. This is where you type 
              news or announcement.News or Announcement. This is where you type 
              news or announcement.</span></p>
            <p class="date">01.01.2003<br>
              <span class="smWhite">News or Announcement. This is where you type 
              news or announcement.News or Announcement. This is where you type 
              news or announcement.News or Announcement. This is where you type 
              news or announcement.</span></p>
            </td>
        </tr>
      </table>
    </TD>
  </TR>
  <TR> 
    <TD> <IMG SRC="images/spacer.gif" WIDTH=150 HEIGHT=1 ALT=""></TD>
    <TD> <IMG SRC="images/spacer.gif" WIDTH=210 HEIGHT=1 ALT=""></TD>
    <TD> <IMG SRC="images/spacer.gif" WIDTH=216 HEIGHT=1 ALT=""></TD>
    <TD> <IMG SRC="images/spacer.gif" WIDTH=164 HEIGHT=1 ALT=""></TD>
  </TR>
</TABLE>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="35"><div align="center"> 
        <p class="smWhite"><font color="#FFFFFF"><img src="images/orange_line.jpg" width="685" height="6"><br>
          2003 Copyright Information or Webmaster Contact Info</font></p>
      </div></td>
  </tr>
</table>
<p>&nbsp;</p>
</BODY>
</HTML>