<HTML>
<HEAD>
<TITLE>Site Title</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<script language="JavaScript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.0
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && document.getElementById) x=document.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
</HEAD>
<BODY BGCOLOR=#FFFFFF background="images/index_background.gif" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" link="#006699" vlink="#FF9900" onLoad="MM_preloadImages('images/but_home_r.jpg','images/but_news_r.gif','images/but_contact_r.gif')">
<TABLE WIDTH=100 BORDER=0 CELLPADDING=0 CELLSPACING=0>
  <TR> 
    <TD ROWSPAN=2 valign="middle" background="images/index_top1.jpg" width="393" height="73"><font face="Arial, Helvetica, sans-serif" size="6" color="#0099FF">&nbsp;Y<b>our 
      Company Name</b></font></TD>
    <TD ROWSPAN=2> <IMG SRC="images/index_top2.jpg" WIDTH=125 HEIGHT=73></TD>
    <TD> <a href="index.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image1','','images/but_home_r.jpg',1)"><IMG SRC="images/but_home.jpg" WIDTH=69 HEIGHT=25 border="0" name="Image1"></a></TD>
    <TD> <a href="javascript:;" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image2','','images/but_news_r.gif',1)"><IMG SRC="images/but_news.gif" WIDTH=68 HEIGHT=25 border="0" name="Image2"></a></TD>
    <TD> <a href="javascript:;" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image3','','images/but_contact_r.gif',1)"><IMG SRC="images/but_contact.gif" WIDTH=75 HEIGHT=25 border="0" name="Image3"></a></TD>
  </TR>
  <TR> 
    <TD COLSPAN=3> <IMG SRC="images/index_top3.jpg" WIDTH=212 HEIGHT=48></TD>
  </TR>
  <TR background="images/gray_bar.gif"> 
    <TD COLSPAN=5> <img src="images/gray_bar.gif" width=730 height=21></TD>
  </TR>
</TABLE>
<table width=730 border=0 cellpadding=0 cellspacing=0>
  <tr> 
    <td colspan=5> <img src="images/image1.jpg" width=730 height=145></td>
  </tr>
  <tr> 
    <td> <img src="images/image1_bottom.jpg" width=393 height=61></td>
    <td colspan=4> <img src="images/3_images.jpg" width=337 height=61></td>
  </tr>
  <tr> 
    <td valign="top"> <img src="images/index_bottom.jpg" width=393 height=236></td>
    <td colspan=4 valign="top"> <b><font face="Arial, Helvetica, sans-serif" color="#006699"><br>
      <font size="2" color="#000000">:: Welcome ::</font></font></b><font color="#000000"><br>
      </font>
      <p><font size="2" face="Arial, Helvetica, sans-serif">This is where you 
        place your welcome text or any news about your company or about the products 
        that you are selling. </font></p>
      <p><font size="2" face="Arial, Helvetica, sans-serif">This is where you 
        place your welcome text or any news about your company or about the products 
        that you are selling. </font><font size="2" face="Arial, Helvetica, sans-serif">This 
        is where you place your welcome text or any news about your company or 
        about the products that you are selling. </font></p>
      <div align="right"><font color="#000000"> <i><b><font face="Arial, Helvetica, sans-serif"><a href="content.html"><font size="2">ENTER</font></a></font></b></i></font> 
      </div>
    </td>
  </tr>
</table>
<br>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td height="18" bgcolor="#999999"> 
      <div align="center"><br>
      </div>
      <div align="center"><font size="1" face="Arial, Helvetica, sans-serif">| 
        Home | About Us | Services | News | Products | Contact | Site Map |<br>
        <br>
        </font></div>
    </td>
  </tr>
</table>
<p>&nbsp;</p>
</BODY>
</HTML>