<HTML>
<HEAD>
<TITLE>Site Title</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<STYLE TYPE="TEXT/CSS">
<!--

A { text-decoration: none }


A {color:#000000; font-family: Helvetica, Arial; font-size: 12px; text-decoration: none;}
A:hover {color:#990000; font-family: Helvetica, Arial; font-size: 12px; text-decoration: none;}

td {font-family: Helvetica, Arial; font-size: 11px;}
.linkcell { padding-left: 10px; font-family: Helvetica, Arial; font-size: 10px;}
hr {  color: #000000}

//.unnamed1 {  font-family: Arial, Helvetica, sans-serif; font-size: small}
-->


</STYLE>
</HEAD>
<BODY BGCOLOR=#FFFFFF background="images/home_background.gif" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<TABLE WIDTH=740 BORDER=0 CELLPADDING=0 CELLSPACING=0>
  <TR> 
    <TD width="336"> <IMG SRC="images/image1a.jpg" WIDTH=394 HEIGHT=168></TD>
    <TD width="404"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td><font face="Arial, Helvetica, sans-serif" size="6" color="#FFFFFF">Your 
            Web Site Title</font></td>
        </tr>
        <tr> 
          <td> 
            <div align="right"><font face="Arial, Helvetica, sans-serif" size="2" color="#FFCCFF">DATE: 
              April 16, 2002</font></div>
          </td>
        </tr>
      </table>
    </TD>
  </TR>
  <TR> 
    <TD width="336"> <IMG SRC="images/image1b.jpg" WIDTH=394 HEIGHT=223></TD>
    <TD width="404"> 
      <div align="center"><a href="content.html"><img src="images/home_photo.jpg" width="297" height="193" border="0"></a></div>
    </TD>
  </TR>
  <TR valign="top"> 
    <TD colspan="2" height="116"> 
      <table width="100%" border="0" cellspacing="4" cellpadding="4">
        <tr>
          <td valign="top" height="109"><font size="2"><b><font face="Arial, Helvetica, sans-serif" color="#003366" size="4">Welcome: 
            </font></b></font> 
            <p><font size="2" face="Arial, Helvetica, sans-serif">You can type 
              your welcome text here or a short description about your site. You 
              can type your welcome text here or a short description about your 
              site.</font></p>
            <p><font size="2" face="Arial, Helvetica, sans-serif">You can type 
              your welcome text here or a short description about your site. You 
              can type your welcome text here or a short description about your 
              site. You can type your welcome text here or a short description 
              about your site.</font></p>
    </td>
        </tr>
      </table>
    </TD>
  </TR>
</TABLE>
<br>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">| 
        <a href="index.html">Home</a> | <a href="content.html">About Us</a> | 
        <a href="content.html">Family/Friend Events</a> | <a href="content.html">Picture 
        Time 1!</a> | <a href="content.html">Picture Time 2!</a> | <a href="content.html">Contact 
        Us</a> |</font></div>
    </td>
  </tr>
</table>
</BODY>
</HTML>